* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #000000;
    position: fixed;
    background: white;
    top: 0px;
    left: 0px;
    z-index: 2;

    nav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        ul {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5%;
            list-style: none;

            div:hover {
                transition: 1s;
                width: 260px;
                height: 60px;

            }

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #F5F5F5;
                height: 50px;
                width: 250px;
                border-radius: 5px;
                cursor: pointer;
                transition: 1s;

                input {
                    border: none;
                    background: none;
                    width: 170px;
                    outline: none;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0%;
                }
            }

            li {
                display: flex;
                align-items: center;
                gap: 15%;

                img {
                    cursor: pointer;
                }

                a {
                    text-decoration: none;
                    color: black;
                }

                h1:hover {
                    font-size: 26px;
                    transition: 1s;
                }

                h1 {
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 24px;
                    line-height: 24px;
                    letter-spacing: 3%;
                    transition: 1s;

                }

                p:hover {
                    font-size: 18px;
                    color: rgba(0, 0, 0, 0.812);
                    transition: 1s;
                }

                p {
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0%;
                    text-align: center;
                    color: #000000;
                    transition: 1s;

                }

                .Sign-up {
                    border-bottom: 1px solid black;
                }
            }
        }
    }
}

main {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;

    >div {
        height: 100%;
    }

    .left {
        width: 60%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .right {
        width: 40%;

        >h1 {
            font-weight: 500;
            font-style: Medium;
            font-size: 36px;
            line-height: 30px;
            letter-spacing: 4%;
            margin-top: 15%;
            text-align: center;
        }

        >h4 {
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            margin-top: 20px;
            margin-left: 25%;

        }

        input {
            width: 60%;
            height: 40px;
            margin-left: 25%;
            margin-top: 4%;
            border: none;
            border-bottom: 1px solid black;
            padding-left: 2%;
            outline: none;
        }

        button {
            width: 60%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5%;
            margin-left: 25%;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }

        .bnt1 {
            margin-top: 10%;
            margin-bottom: 5%;
            background: #DB4444;
            color: white;
        }

        .bnt2 {
            border: 1px solid #00000066;
            background: none;
        }

        .login {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3%;
            gap: 2%;

            p {
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0%;
            }

            a {
                color: black;
                font-weight: 500;
                font-style: Medium;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0%;
            }
        }
    }
}

.footer {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;

    .cart {
        width: 18%;
        height: 100%;

        h1 {
            font-weight: 500;
            font-style: Medium;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0%;
            color: #FAFAFA;
            margin-top: 25%;
            margin-left: 15%;
        }

        p {
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            color: silver;
            margin-top: 5%;
            margin-left: 15%;
        }

        .send {
            width: 80%;
            height: 50px;
            border: 1.5px solid #FAFAFA;
            margin-top: 10%;
            margin-left: 15%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15%;
            border-radius: 5px;

            input {
                border: none;
                background: none;
                outline: none;
                color: white;
            }

            img {
                cursor: pointer;
            }
        }

        .qr {
            width: 100%;
            height: 85px;
            margin-top: 5%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5%;
        }

        .icon {
            width: 80%;
            height: 50px;
            margin-left: 10%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 5%;
        }
    }
}

footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;

    p {
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        color: silver;
    }
}



@media only screen and (max-width:450px) {
    header {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        nav {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            ul:nth-child(3) {
                display: none;
            }

            ul:nth-child(1) {
                width: 30%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            ul:nth-child(2) {
                width: 70%;
                height: 100%;
                display: flex;
            }
        }
    }





    main{
        width: 100%;
        display: block;
        height: auto;
        margin-top: 35%;
        .left{
            display: none;
        }
        .right{
            width: 90%;
        }
    }

















    .footer {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;

        .cart {
            width: 50% !important;

            .send{
                display: none;
            }
        }
    }







}
